@media (min-width: 1200px)
    a,  button 
        &:hover
            cursor: pointer
    .header
        &-block
            &__inst
                &:hover
                    background-color: rgba(255, 255, 255, .1)
            &__whatsapp
                &:hover
                    background-color: rgba(255, 255, 255, .1)
        &-menu
            &__link
                &:hover
                    color: #FEDA2F
    .main
        &-center
            &__btn
                &:hover
                    background-color: #FEDA2F
                    border: 1px solid #FEDA2F
    .video
        &-wrapper
            &__image
                &:hover
                    cursor: pointer
    .direction
        &-block
            &__card
                &:hover
                    background-color: rgba(0, 0, 0, .2)
                    border: 3px solid rgba(0, 0, 0, .2)
                    cursor: pointer
                    .direction-block__title
                        color: #FEDA2F
    .cost
        &-cards
            &__up
                &:hover
                    cursor: pointer
                    .cost-cards__title
                        color: #FEDA2F