@media (min-width: 1200px)
    a,  button 
        &:hover
            cursor: pointer
    .header
        &-block
            &__inst
                &:hover
                    background-color: rgba(255, 255, 255, .1)
            &__whatsapp
                &:hover
                    background-color: rgba(255, 255, 255, .1)
        &-menu
            &__link
                &:hover
                    color: #FEDA2F
    .main
        &-center
            &__btn
                &:hover
                    background-color: #FEDA2F
                    border: 1px solid #FEDA2F
    .video
        &-wrapper
            &__image
                &:hover
                    cursor: pointer
    .direction
        &-block
            &__card
                &:hover
                    background-color: rgba(0, 0, 0, .2)
                    border: 3px solid rgba(0, 0, 0, .2)
                    cursor: pointer
                    .direction-block__title
                        color: #FEDA2F
    .team
        &-block
            &__name
                &:hover
                    color: #FEDA2F
    .cost
        &-cards
            &__card
                &:hover
                    cursor: pointer
                    .cost-cards__title
                        color: #FEDA2F
    .footer
        &-navbar
            &__link
                &:hover
                    color: #FEDA2F
        &-wrapper
            &__elem
                &:hover
                    .footer-wrapper__name
                        color: #feda2f
@media ( max-width: 1720px  )
    .container
        max-width: 1140px
    .header
        &__logo
            width: 150px
            height: 120px
        &-block
            margin-left: 20px
            &__contacts
                max-width: 750px
        &-menu
            &__link
                margin-right: 20px
                font-size: 14px
            &__button
                width: 205px
                font-size: 14px
        &-bottom
            padding-top: 20px
            &__title
                font-size: 50px
                line-height: 85%
            &__subtitle
                font-size: 25px
                line-height: 93%
            &__icon
                width: 130px
                height: 40px
            &__form
                padding: 30px
        &-form
            width: 450px
            &__title
                font-size: 33px
                line-height: 120%
                margin-bottom: 20px
            &__submit
                padding: 20px
                font-size: 18px
        &-arrow
            left: 8%
    .main
        &-up
            padding-top: 100px
        &-left
            padding: 30px
            &__title
                font-style: 40px
                margin-bottom: 0
            &__subtitle
                font-size: 25px
                margin-bottom: 0
        &-center
            padding-left: 25px
            padding-top: 25px
            padding-right: 15px
            padding-bottom: 0
            &__title
                font-size: 35px
            &__text
                padding: 15px
            &__strong
                font-size: 20px
            &__extra
                font-size: 14px
            &__btn
                height: 120px
            &__form
                width: 600px
            &__icon
                display: none
        &-form
            padding-top: 0
        &-right
            padding-top: 30px
            padding-right: 0
        &-slider
            height: 530px
        &-button
            left: 35%
        &-down
            padding-top: 100px
    .video
        &-wrapper
            &__block
                padding-top: 50px
                padding-left: 50px
            &__title
                font-size: 60px
                margin-bottom: 60px
            &__start
                margin-bottom: 100px
            &__image
                width: 150px
                height: 150px
    .direction
        &-block
            &__card
                padding: 15px
                max-width: 340px
                height: 300px
                margin-bottom: 50px
            &__btn
                justify-content: flex-start
            &__arrow
                width: 60px
                display: inline-block
                margin-right: 10px
            &__title
                font-size: 28px
            &__subtitle
                font-size: 14px
            &__image
                width: 90px
                height: 80px
    .cost
        &-cards
            justify-content: center
            &__free
                margin-bottom: 20px
                margin-right: 20px
            &__card
                margin-bottom: 20px
                &:nth-child(3)
                    margin-right: 20px
        &-sale
            flex-wrap: wrap
            &__card
                width: 260px
            &__price
                font-size: 40px
            &__title
                font-size: 19px
    .result
        &-swiper
            height: 185px
        &-block
            &__item
                height: 100%
            &__image
                width: 90px
                height: 90px
    .photos
        &-block
            &__image
                width: 155px
                height: 155px
    .register
        &-wrapper
            &__image
                width: 48% 
                margin-right: 50px
    .footer
        &-wrapper
            &__item
                &:nth-child(2)
                    width: 550px
            &__contacts
                padding-left: 15px
@media ( max-width:  1200px)
    .container
        max-width: 1140px
    .teacher
        &-container
            max-width: 1140px
    .main
        &-left
            &__title
                &--dn   
                    display: block
@media ( max-width: 767px )
    .container
        max-width: 576px
        width: 93%
    .header
        height: 480px
        &__logo
            width: 116px
            height: 90px
        &-menu
            display: flex
            flex-direction: column
            align-items: flex-start
            &__item
                margin-bottom: 35px
            &__link
                font-size: 22px
                line-height: 21px
        &-block
            &__text
                max-width: 290px
                font-size: 14px
                line-height: 140%
                color: #CFCFCF
                display: inline-block
                margin-top: -5px
                margin-bottom: 30px
            &__phones
                display: flex
                flex-direction: column
                margin-bottom: 40px
            &__link
                font-size: 18px
                line-height: 17px
                color: #CFCFCF
                &:last-child 
                    margin-top: 20px
                    margin-left: 0
            &__button
                background: #FEDA2F
                font-weight: bold
                font-size: 18px
                line-height: 17px
                letter-spacing: 0.05em
                color: #000000
                width: 100%
                margin-bottom: 30px
        &-top
            display: flex
            justify-content: space-between
        &-block
            display: none
        &-burger
            display: block
        &-bottom
            padding-top: 60px
            justify-content: center
            &__form
                display: none
            &__title
                font-size: 32px
                line-height: 130%
            &__subtitle
                font-size: 20px
                line-height: 140%
                margin-bottom: 50px
            &__btn
                display: block
        &-arrow
            display: none
    .main
        &-up
            padding-top: 30px
            height: 100%
            width: 100%
            .container
                height: 100%
        &-slider
            &__slide
                flex-direction: column
                align-items: center
        &-left
            padding-top: 35px
            align-items: center
            width: 100%
            border-radius: 10px 10px 0 0
            max-width: 100%
            &__title
                font-size: 30px
                line-height: 120%
                margin-bottom: 10px
                &--dn
                    display: none
            &__subtitle
                text-align: center
            &__image
                display: none
        &-center
            display: flex
            flex-direction: column
            padding: 20px 10px
            width: 100%
            border-radius: 0 0 10px 10px
            &__block
                display: flex
                flex-direction: row
                align-items: flex-start
                height: 70px
                margin-bottom: 30px
            &__icon-step
                display: block
                width: 40px
                height: 45px
            &__text
                background: #fff
                display: flex
                flex-direction: column
                padding-top: 0
                justify-content: flex-start
                padding-right: 0
            &__step
                display: inline-block
            &__title
                font-size: 18px
                line-height: 120%
            &__subtitle
                margin-top: 15px
                margin-bottom: 30px
                display: inline-block
            &__respons
                flex-direction: column
                align-items: center
            &__btn
                width: 100%
                height: 91px
            &__form
                padding-top: 50px
                width: 100%
            &__icon
                display: none
        &-right
            display: none
        &-slider
            height: 100%    
        &-button
            left: -5%
            bottom: 96%
            background-color: transparent
            &__arrow
                display: none
            &__left
                color: #fff
                font-size: 15px
                line-height: 14px
        &-form
            width: 100%
        &-down
            padding-top: 30px
            padding-bottom: 0
            &__logo
                width: 230px
                height: 70px
            &__info
                flex-direction: column
            &__title
                font-size: 38px
                line-height: 100%
                margin-bottom: 20px
            &__text
                font-size: 16px
                line-height: 160%
            &__right
                margin-left: 0
            &__item
                flex-basis: 46%
            &__num
                font-size: 45px
                line-height: 43px
            &__desc
                font-size: 13px
                line-height: 140%
        &-container
            max-width: 576px
            width: 93%
            margin: auto
    .video
        padding-top: 40px
        padding-bottom: 40px   
        &-wrapper
            width: 100%
            height: 200px
            display: flex
            align-items: flex-end
            &__block
                padding-top: 0
                padding-left: 20px
                padding-bottom: 20px
            &__watch
                margin-left: 20px
            &__start
                margin-bottom: 0
            &__image
                width: 60px
                height: 60px
            &__now
                font-size: 14px
                line-height: 120%
            &__length
                font-size: 13px
                line-height: 12px
            &__subtitle
                display: none
                &--mobile
                    display: inline-block
                    font-size: 20px
                    line-height: 120%
                    margin-bottom: 15px
                    border-bottom: 2px solid #000
            &__title
                display: none  
                &--mobile
                    display: block 
                    font-size: 38px
                    line-height: 120%
                    margin-top: 0
                    margin-bottom: 20px
    .direction
        padding-top: 40px
        padding-bottom: 40px
        &-wrapper
            align-items: flex-start
        &-title
            &__extra
                font-size: 20px
                line-height: 120%
            &__main
                font-size: 30px
                line-height: 120%
                margin-bottom: 30px
        &-block
            &__card
                margin-bottom: 20px
                height: 340px
            &__title
                color: #feda2f
            &__btn
                padding: 0
            &__arrow
                display: none
            &__record
                color: #fff
                padding-bottom: 4px
                border-bottom: 1px solid rgba(255, 255, 255, .5)
    .team
        padding-top: 40px
        padding-bottom: 40px
        &-title
            &__extra
                font-size: 20px
                line-height: 120%
                padding-bottom: 10px
                border-bottom: 2px solid #000
            &__main
                font-size: 38px
                line-height: 120%
                margin-bottom: 30px
        &-swiper
            width: 100%
            margin-left: 0
            margin-right: 0
        &-block
            &__name
                color: #FEDA2F
            &__btn
                width: 60px
                height: 120px
            &__image
                width: 100%
                height: 300px
                object-position: 0 30%
        &-wrapper
            align-items: flex-start
    .cost
        padding-top: 40px
        padding-bottom: 40px
        &-title
            max-width: 290px
            &__extra
                font-size: 20px
                line-height: 120%
            &__main
                font-size: 30px
                line-height: 120%
                margin-bottom: 30px
        &-wrapper
            align-items: flex-start
        &-cards
            width: 100%
            margin-bottom: 40px
            &__free
                padding: 17px 20px 40px 20px
                margin-right: 0
            &__image
                width: 125px
                height: 93px
                margin-bottom: 30px
            &__extra
                font-size: 25px
                line-height: 120%
                margin-bottom: 20px
            &__main
                font-size: 40px
                line-height: 120%
            &__btn
                padding: 0
            &__line
                display: none  
            &__record
                padding-bottom: 4px
                border-bottom: 2px solid rgba(0, 0, 0, .5)
            &__up
                justify-content: space-between
                align-items: flex-start
                padding: 20px 15px
                border-radius: 10px
            &__title
                font-size: 20px
                line-height: 140%
                text-align: left
            &__arrow
                display: block
                margin-top: 5px
            &__card
                &:nth-child(3)
                    margin-right: 0
            &__down
                padding: 0 15px
                display: none
            &__text
                font-size: 13px
                line-height: 170%
        &-sale
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            flex-wrap: nowrap
            height: auto
            &__card
                width: 100%
                border-bottom: 0
                padding: 30px 0 0 0
                justify-content: space-between
                &:last-child
                    border-bottom: 2px solid #fff
            &__subtitle
                display: inline-block
                font-size: 14px
                line-height: 150%
                margin-bottom: 30px
            &__price
                margin-bottom: 20px
                font-size: 40px
                line-height: 38px
            &__title
                font-size: 18px
                line-height: 130%
    .result
        padding-top: 40px
        padding-bottom: 40px
        &-wrapper
            align-items: flex-start
        &-title
            align-items: flex-start
            &__extra
                font-size: 20px
                line-height: 120%
            &__main
                font-size: 38px
                line-height: 120%
                margin-top: 10px
                margin-bottom: 30px
        &-swiper
            height: 180px
        &-block
            &__bg
                height: 100%
                width: 100%
            &__image
                width: 60px
                height: 60px
        &--prev
            top: 20%
    .photos
        padding-bottom: 40px
        &__title
            font-size: 30px
            line-height: 120%
            margin-bottom: 20px
        &-block
            justify-content: space-between
            &__image
                width: 95px
                height: 95px
    @for $i from 7 through 63 
        .photos-block__image:nth-child(#{$i}) 
            display: none
    .register
        padding-top: 0
        padding-bottom: 40px
        &-wrapper
            &__image
                display: none
            &__title
                font-size: 35px
                line-height: 110%
                margin-bottom: 33px
        &-form
            &__button
                font-size: 15px
                line-height: 14px
    .map
        padding-bottom: 0
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-start
            &__map
                position: relative
                height: 400px
                margin-bottom: 40px
            &__block
                position: relative
                padding: 0
                width: 100%
                text-align: center
                align-items: center
                top: 0
                left: 0
                height: auto
            &__item
                max-width: 290px
                margin-bottom: 30px
                justify-content: center
                & br
                    display: none
                &--ai
                    justify-content: center
                    & br
                        display: block
            &__name
                display: none
            &__logo
                display: none
            &__icon
                display: none
    .footer
        padding-top: 30px
        padding-bottom: 40px
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            flex-wrap: nowrap
            &__item
                margin-bottom: 40px
                &:nth-child(2)
                    width: 100%
            &__contacts
                display: none
            &__social
                width: 100%
                max-width: 100% 
                flex-direction: row
                justify-content: space-between
                align-items: center
                margin-bottom: 40px
                margin-top: -10px
                max-width: 290px
            &__elem
                flex-direction: row
                &:first-child
                    margin-bottom: 0
            &__name
                margin-bottom: 0
                margin-right: 15px
            &__rights
                width: 100%
                font-size: 14px
                line-height: 150%
                left: 0
                text-align: center
        &-navbar
            flex-direction: column
            align-items: center
            &__left,
            &__center,
            &__right
                align-items: center
            &__link
                margin-bottom: 30px
    .modal
        &__dialog
            padding: 20px 15px
            width: 320px
        &__title
            font-size: 35px
            line-height: 120%
            margin-bottom: 30px
            &--thanks
                font-size: 32px
        &__close
            width: 20px
            height: 20px
            right: 7%
            top: 15%
        &-form
            &__button
                font-size: 20px
    .news
        padding-top: 0
        padding-bottom: 0
        height: 90px
    .breadcrumb
        padding: 25px 0
        &-block
            max-width: 593px
            width: 93%  
            margin: auto
        &-list
            flex-wrap: wrap
            justify-content: center
            &__item
                font-size: 13px
                line-height: 140%
        &__title
            font-size: 30px
            line-height: 120%
    .article
        padding-top: 30px
        padding-bottom: 40px
        &-container
            max-width: 576px
            width: 93%
            flex-direction: column
        &-left
            margin-bottom: 40px
            &__title
                font-size: 18px
                line-height: 140%
                margin-bottom: 20px
            &__image
                width: 100%
                height: 250px
                margin-bottom: 15px
            &__subtitle
                font-size: 14px
                line-height: 160%
            &__desc
                margin-top: 20px
                margin-bottom: 20px
                font-size: 18px
                line-height: 150%
            &__text
                padding: 20px 0
                font-size: 16px
                line-height: 150%
            &__social
                padding-top: 20px
                align-items: flex-start
            &__share
                flex-direction: column
            &__elem
                margin-bottom: 10px
        &-right
            display: none
            &__image
                width: 252px
                height: 200px
                margin-bottom: 15px
            &__title
                font-size: 14px
                line-height: 150%
                margin-bottom: 10px
            &__data
                font-size: 13px
            &__item
                max-width: 252px
        &-swiper
            display: block
    .teacher
        padding-top: 30px
        padding-bottom: 30px
        &-container
            max-width: 576px
            width: 93%
            flex-direction: column
            justify-content: space-between
        &__image
            width: 100%
            margin-right: 0
            margin-bottom: 20px
        &-info
            font-size: 16px
            line-height: 150%
