
.alfacrm-control input[type=text]
{
    padding: 8px;
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid  rgba(255, 255, 255, .5);
} 

.alfacrm-control:last-child{
    display: none;
}

.alfacrm-error {
    color: red;
    margin-bottom: 15px;
    font-size: 13px
} 
.alfacrm-submit {
    font-family: "GothamPro-Bold", sans-serif;
    padding: 29px 30px 25px 30px;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: #FEDA2F;
    border-radius: 5px;
    width: 100%;
}

.alfacrm-title, .alfacrm-subtitle, .alfacrm-label {
    display: none;
}